{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "overrides": [
      {
        "files": ["*.tsx", "*.jsx", "*.json", "*.html", "*.xml"],
        "options": {
          "tabWidth": 2
        }
      }
    ]
  }
  